{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-3"
  ],
  "plugins": ["lodash"],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ]
    }
  }
}
